span {
	opacity: 1;
}

.custom {
	background-image:url(../img/fondo.jpg);
	background-attachment:fixed;
	widows: 100%;
}

.licustom {
	background: rgba(209,234,183,0.4);
    padding-left: 10px;
}

button: hover {
	background: red;
}